<br>
<% @articles.each do |article| %>
  <article>
    <h2><%= article.title %></h2>
    <p><time datetime="<%= article.date %>"><%= I18n.l(article.date, format: :long) %></time></p>
    <%= article.body.to_plain_text.truncate(340) %>
    <br>
    <%= link_to t('read_more'), article_path(article), class: 'read-more-link' %>
    <div class="article-more-button">
      <span class="btn-pill"><%= t('read_more') %></span>
    </div>
  </article>
<% end %>

<br>

<%= will_paginate @articles, page_links: false %>
